.chats-container {
  width: 320px;
  max-width: 36rem;
  border: solid 1px #e6eefc;
  border-radius: 8px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  border-left: none;
  background: #fff;
}

.chats-wrapper {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
